<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieLibrary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A8501EA1C6D3BDA008D4F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8501FE1C6D3BDB008D4F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A8502091C6D3BDB008D4F4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
